.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.headerLeftCol p {
  margin: 0;
}

.headerLeftCol p:first-child {
  margin-bottom: 10px;
}

.headerRightCol {
  display: flex;
  column-gap: 16px;
}
